body
{
	background: yellow;
}
button
{
	position: absolute;
	font-size: 17px;
	text-transform: uppercase;
}

dd
{
	background-color: white;
	border: 0.2px solid #000;
}

dt
{
	background: lightblue;
	border: 1px solid #000;
}

a{
	color: blue;
}

dl
{
	border: 1px solid #000;
}