{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/style.css' %}" rel = "stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/sunny/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <!-- penerapan jQuery dengan google CDN -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
        $( "#accordion" ).accordion();
      } );
    </script>
    <script src="{% static 'js/untukaccordion.js' %}" type="text/javascript">
      //isinya sebagai berikut: 
      // jQuery(document).ready(function($){

        // var panels = $('.accordion > dd');
        // panels.hide();


        // script ketika diclick
        // $('.accordion > dt > a').click(function() {

          // var $this = $(this);
          // Slide up ketika diclick salah satu diclick
          // panels.slideUp();

          // Slide down panel yang diclick
          // $this.parent().next().slideDown();

          // return false;
        // });
      // });
      
    </script>
</head>
<body>
<br>
<br>
    
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2> Hello World</h2>
            <button>ubah theme!</button>
            <script src="{% static 'js/halaman.js' %}" type="text/javascript">
              // Isinya sebagai berikut:

              // var color = ["#FFFF00", "#D3D3D3"];
              // var i = 0;
              // document.querySelector("button").addEventListener("click", function(){
              //   if (i <= 0 && i <= color.length){
              //     i = i < color.length ? ++i : 0;
              //   }else{
              //     i = 0;
              //   }
              //   document.querySelector("body").style.background = color[i]
              // })
            </script>

            <br>
            <br>
            <br>
            <h2>Accordion jQuery</h2>
            <div id="accordion">
            <h3>Aktivitas</h3>
            <div>
              <p>
              Saat ini saya kuliah di Fasilkom UI
              </p>
            </div>
            <h3>Pengalaman Organisasi</h3>
            <div>
              <p>
              KIR SMAN 1 Tangerang 2013 - 2015<br>Kolosal SMAN 1 Tangerang 2015 Divisi Produksi
              </p>
            </div>
            <h3>Prestasi</h3>
            <div>
              <p>
              Juara 1
              </p>
            </div>
          </div>
          </div>
          <div class="col-sm">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Accordion Manual (hardcode)</h2> 
            <dl class="accordion">
              <dt><a href="">Aktivitas</a></dt>
              <dd>Saat ini saya kuliah di Fasilkom UI</dd>

              <dt><a href="">Pengalaman Organisasi</a></dt>
              <dd>- KIR SMAN 1 Tangerang 2013 - 2015<br>- Kolosal SMAN 1 Tangerang 2015 Divisi Produksi</dd>

              <dt><a href="">Prestasi</a></dt>
              <dd>Juara 1</dd>
            </dl>     
          </div>
        </div>
      </div>



</body>
</html>
